
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 991px) {
    .opinion-img{
        width: 10%;
    }
    
    
    .latest-img{
        margin-bottom: 1em;
        width: 11em!important;
    }
    .lastest-hr{
        clear: both;
    }
} 
