
/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (max-width: 991px) {
    header div img{
        width: 2%;
    }
    
    .latest-img{
        margin-bottom: 1em;
        width: 11em!important;
    }
    .lastest-hr{
        clear: both;
    }
    
   .previous-magazine{
        width: 19%!important;
    }
    .current-magazine{
        width:19%!important;
    }
    .magazine-desc{
        margin-left: 35%!important; 
    }
    .newsletter-img{
        width: 19%!important;
    }
} 
