header{
    background-color: #f72210;
    color: white;
    padding-bottom: 6.8em;
    vertical-align: middle;
    padding: 0.8% 3%;
}
.date{
    color: white;
}
header h1{
    font-size: 6em;
    font-weight: bolder;
    text-align: center;
}
.sign{
    color: white;
    font-size: 1em;
}
.header-a2{
    color: #f72210;
    padding: 2% 3%;
}
.burger{
    width: 12%;
}
/*NAVBAR*/
nav{
    color: black;
    font-weight: bold;
    margin: 0 auto;
}
nav a{
    list-style-type: none;
    text-align: center;
}
nav span{
    color: black;
    font-weight: 100;
    font-size: 0.9em;
}
/*MAIN*/
main section{
    border: 1px solid black;
}
main section article{
    border: 1px solid black;
}

/*MORE STORIES SECTION*/
.more-stories-img{
    float: left;
    padding-right: 2%;
    width: 30%; 
}

/*LATEST NEWS SECTION*/
.newsweek-logo{
    float: left;
    width: 1.5em;
}
.latest-card{
    background-color: #e5e5e5;
    border-color: #f4f5f6;
}
.sign-up{
    margin-left: 13%;
    margin-top: -2%;
    text-transform: uppercase;
}
.latest-Update-text{
    font-weight: bold;
    font-size: 0.8em;
    margin-top: 3%;
}
/*EDITORS PICK SECTION*/
.editor-pick{
    
}
/*SUBSCRIBE AND NEWSLETTER SECTION*/
.subscribe-section{
    height: 20em;
    padding: 3%;
}
.previous-magazine{
    float: left;
    position: absolute;
    width: 25%;
}
.current-magazine{
    float: left;
    left: 13%;
    position: relative;
    top: 0.9em;
    width:30%;
}
.magazine-desc{
    width: 50%; 
    margin-left: 50%;  
}
.subs-news-a{
    background-color: #f72210;
    color: white;
    font-weight: bold;
    padding: 3%;
}
.newsletter-desc{
    float: right;
    width: 50%;
}
.newsletter-img{
    width: 40%;
    height: 100%;
}

/*FOOTER*/
.footer-img{
    float: left;
    width: 20%;
}
.footer-list1{
    float: left;
    width:50%;
}
.footer-list li{
    display: inline;
    text-decoration: none;
}
.footer-list a{
    border-left: 1px solid gray;
    color: gray;
    padding-left: 2%;
}
.footer-list2{
    width: 50%;
}
.footer-list2 li{
    
 
}
.footer-list2 img{
    width: 5%;
}
